
{% extends 'base.html.twig' %}

{% block title %}Atemschutz Listenansicht{% endblock %}

{% block body %}

{{ include('pdfdownload.html.twig') }}

<h2>Atemschutz Listenansicht</h2>

{# {{ dump(app.request.requesturi) }} #}

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Organisation</th>
            <th scope="col">Gerätenr.</th>
            <th scope="col">Gerätetyp</th>
            <th scope="col">Datum</th>
            <th scope="col">Standort</th>
            <th scope="col">Lagerplatz</th>
        </tr>
    </thead>
    <tbody>
        {% for stocking in stockings %}
            <tr>
                <td style="border-left: 6px solid {{stocking.orgColor}};">{{ stocking.orgName }}</td>
                <td>{{ stocking.device_id }}</th>
                <td style="color: {{stocking.dtColor}};">{{ stocking.dtName }}</td>
                <td>{{ stocking.date|date('d.m.Y') }}</td>
                <td>{{ stocking.locName }}</td>
                <td style="border-right: 6px solid {{stocking.orgColor}};">{{ stocking.posName }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="createdat">
    erzeugt am {{ 'now' | date('d.m.Y') }}
</div>


{% endblock %}
