
{% extends 'base.html.twig' %}

{% block title %}Prüftermine{% endblock %}

{% block body %}

{{ include('pdfdownload.html.twig') }}

<h2>Prüftermine</h2>

{# {{ dump(app.request.requesturi) }} #}

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Prüftermin</th>
            <th scope="col">Organisation</th>
            <th scope="col">Gerätenr.</th>
            <th scope="col">Standort</th>
            <th scope="col">Lagerplatz</th>
            <th scope="col">Gerätetyp</th>
            <th scope="col">Datum</th>
        </tr>
    </thead>
    <tbody>
        {% for stocking in stockings %}
            <tr>
                <td>
                    {% if stocking.maintenance|date("y") != "-1" %}
                        {% set classname = '' %}
                        {% if stocking.maintenance|date("y-m") == "now"|date("y-m") %}
                            {% set classname = 'maintanance_warning' %}
                        {% endif %}
                        {% if stocking.maintenance|date("U") < "now"|date("U") %}
                            {% set classname = 'maintanance_error' %}
                        {% endif %}
                        <span class="{{ classname }}">
                            {{ stocking.maintenance|date('d.m.Y')  }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ stocking.orgName }}</td>
                <td>{{ stocking.device_id }}</th>
                <td>{{ stocking.locName }}</td>
                <td >{{ stocking.posName }}</td>
                <td style="color: {{stocking.dtColor}};">{{ stocking.dtName }}</td>
                <td>{{ stocking.date|date('d.m.Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="createdat">
    erzeugt am {{ 'now' | date('d.m.Y') }}
</div>


{% endblock %}
