<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ asset('img/favicon.svg') }}" type="image/svg+xml" >
        <title>{% block title %}Feuerwehren Bad Zwesten / Atemschutz{% endblock %}</title>

        {% block stylesheets %}
          {# 'app' must match the first argument to addEntry() in webpack.config.js #}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container" id="page">
        <h1>
            <img src="{{ asset('img/favicon.svg') }}" class="header" />
            Feuerwehren Bad Zwesten - Übersicht Atemschutz
        </h1>
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-primary">
                {{ message }}
            </div>
        {% endfor %}

        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# read and display just one flash message type #}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}


        {% block body %}{% endblock %}

        <div class="footer">
            <a href="{{ path('dashboard') }}">Dashboard</a>
             -
            <a href="{{ path('about_page') }}">About</a>
             -
            <a href="{{ path('impressum') }}">Impressum</a>
             -
            <a href="{{ path('easyadmin') }}">Admin</a>
        </div>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file -->
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script>
        {% endblock %}
    </div>
    </body>
</html>
