
<div class="dashboard accordion accordion-flush">
{# {{ dump(organisations) }} #}

    {% for orga in organisations %}

    <div class="organisation accordion-item" style="border-color: {{ orga.color }}; background-color: {{ orga.color }}22">

        {%set isCollapsed = app.request.cookies.get( "collapse#{orga.id}" ) == 'collapsed' %}

        <h3 class="accordion-header" style="background-color: {{ orga.color }}">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ orga.id }}" title="anzeigen oder verstecken" style="background-color: {{ orga.color }}"
                    class="accordion-button {% if isCollapsed %}collapsed{% endif %}"  aria-expanded="{{ isCollapsed }}" aria-controls="collapse{{ orga.id }}">
                {{ orga.name|e }} <i class="fa"></i>
            </button>
        </h3>
        <div id="collapse{{ orga.id }}" class="accordion-collapse collapse {% if not isCollapsed %}show{% endif %} ">

            {% for location in orga.locations %}
                <div class="location accordion-body" style="border-bottom: 1px solid {{ orga.color }};" id="location{{ location.id }}">
                    <h4>{{ location.name|e }}</h4>
                    {% set lastDeviceType = 0 %}

                    {% for position in location.positions %}
                        {% if deviceFilter == '' or position.CountStockings(deviceFilter) > 0 %}
                            {% if deviceTypeId == 0 or deviceTypeId == position.deviceType.id %}
                                {% if lastDeviceType != position.deviceType.id %} 
                                    {% set lastDeviceType = position.deviceType.id %}
                                    <div class="flexbreak"></div> 
                                {% endif %}
                                <div class="position accordion-item"
                                     style="border-color: {{ position.deviceType.color }}">
                                    <div title="umschalten" class="positionName accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#formcollapse{{ position.id }}" 
                                                style="color: {{ position.deviceType.color }}" aria-expanded="false" aria-controls="formcollapse{{ position.id }}">
                                            {{ position.name|e }}
                                        </button>
                                    </div>
                                    <div id="formcollapse{{ position.id }}" class="accordion-collapse collapse">
                                        {{ include('dashboard/formAdd.html.twig') }}
                                    </div>
                                    <div id="formcollapse{{ position.id }}" class="stockings accordion-collapse collapse show" >
                                    {% set count = 1 %}
                                    {% for stocking in position.stockings %}
                                        {% if count <= maxStockings and 
                                                ( deviceFilter == '' or deviceFilter == stocking.deviceId ) %}
                                            {% set count = count + 1 %}
                                            <div title="angelegt am {{ stocking.getCreated|date('d.m.Y H:m') }}&#x0ageändert am {{ stocking.getUpdated|date('d.m.Y H:m') }}&#x0avon {{stocking.user.name}}">
                                                {% set hasMaintanance = (stocking.maintenance|date("y") != "-1") %}
                                                {% set classname = '' %}
                                                {% if not stocking.removed and stocking.maintenance|date("y-m-d") != "0000-00-00" %}
                                                    {% if stocking.maintenance|date("y-m") == "now"|date("y-m") %}
                                                        {% set classname = 'maintanance_warning' %}
                                                    {% endif %}
                                                    {% if hasMaintanance and stocking.maintenance|date("U") < "now"|date("U") %}
                                                        {% set classname = 'maintanance_error' %}
                                                    {% endif %}
                                                {% endif %}
                                                <span class="stocking {{ stocking.removed ? 'isRemoved' : '' }} {{ classname }}">
                                                    {{ stocking.date|date("d.m.Y") }}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    {{ stocking.deviceId|e }}
                                                    {% if stocking.maintenance is not empty and hasMaintanance %}
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        {{ stocking.maintenance|format_datetime(pattern: "MMM Y", locale: 'de') }}
                                                    {% endif %}
                                                </span>
                                                {% if not stocking.removed %}
                                                    {{ include('dashboard/formRemove.html.twig') }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="createdat">
    erzeugt am {{ 'now' | date('d.m.Y') }}
</div>
