

<form class="dashsettings" action="#" method="post">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="" class="font-weight-bold">Anzeigefilter: </label>
        </div>
        {# {{ dump(organisations) }} #}
        <div class="col-auto">
            <select class="form-select" name="deviceTypeId" id="deviceTypeId">
                <option value="0" {% if deviceTypeId == 0 %} selected="selected" {% endif %}>
                    alle Geräte
                </option>
            {% for deviceType in deviceTypes %}
                <option value="{{ deviceType.id }}" {% if deviceTypeId == deviceType.id %} selected="selected" {% endif %}>
                    {{ deviceType.name|e }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" name="maxStockings" id="maxStockings">
                <option value="1" {% if maxStockings == 1 %}selected="selected" {% endif %}>
                    letzten Eintrag
                </option>
                <option value="3" {% if maxStockings == 3 %}selected="selected" {% endif %}>
                    max 3 Einträge
                </option>
                <option value="10" {% if maxStockings == 10 %}selected="selected" {% endif %}>
                    max 10 Einträge
                </option>
                <option value="99" {% if maxStockings == 99 %}selected="selected" {% endif %}>
                    max 99 Einträge
                </option>
            </select>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" name="deviceFilter" value="{{ deviceFilter }}" placeholder="Gerätenummer" />
        </div>
        <div class="col-auto">
            <button type="submit" name="buttonSettings" class="btn btn-primary mb-2 mr-sm-2" title="Filter anwenden">
                <i class="fas fa-caret-right"></i>
            </button>
        </div>
    </div>

    <input type="hidden" name="token" value="{{ csrf_token('change-settings') }}"/>
</form>
