{% extends 'base.html.twig' %}

{% block title %}Atemschutz Dashboard{% endblock %}

{% block body %}
<div class="dashboard">
    <h2>Dashboard</h2>
{# {{ dump(organisations) }} #}

{% for orga in organisations %}
    <div class="organisation" style="border-color: {{ orga.color }}">
        <h3 style="background-color: {{ orga.color }}">{{ orga.name|e }}</h3>

        {% for location in orga.locations %}

            <div class="location">
                <h4>{{ location.name|e }}</h4>
                {% for position in location.positions %}
                    <div class="position">{{ position.name|e }}</div>
                {% endfor %}
            </div>

        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
