{% extends 'base.html.twig' %}

{% block title %}Atemschutz Dashboard{% endblock %}

{% block body %}
<h2>Atemschutz Dashboard</h2>

<div class="dashsettings">
    <form class="dashsettings form-inline" action="#" method="post">
        <label for="" class="form-check-input mb-2 mr-sm-2">Anzeigefilter: </label>
        <div class="form-check  mb-2 mr-sm-2">
            <input type="checkbox" id="showForms" name="showForms" class="form-check-input"
                    {% if showForms %}checked="checked" {% endif %}/>
            <label for="showForms" class="form-check-input">Eingabefelder anzeigen</label>
        </div>
        {# {{ dump(organisations) }} #}

        <select class="form-control form-control-sm  mb-2 mr-sm-2" name="deviceTypeId" id="deviceTypeId">
            <option value="0" {% if deviceId == 0 %} selected="selected" {% endif %}>
                alle Ger채te
            </option>
        {% for deviceType in deviceTypes %}
            <option value="{{ deviceType.id }}" {% if deviceId == deviceType.id %} selected="selected" {% endif %}>
                {{ deviceType.name|e }}
            </option>
        {% endfor %}
        </select>
    <select class="form-control form-control-sm  mb-2 mr-sm-2" name="maxStockings" id="maxStockings">
        <option value="1" {% if maxStockings == 1 %}selected="selected" {% endif %}>
            nur aktuellen Eintrag
        </option>
        <option value="3" {% if maxStockings == 3 %}selected="selected" {% endif %}>
            3 Eintr채ge maximal
        </option>
        <option value="10" {% if maxStockings == 10 %}selected="selected" {% endif %}>
            10 Eintr채ge maximal
        </option>
        <option value="99" {% if maxStockings == 99 %}selected="selected" {% endif %}>
            99 Eintr채ge maximal
        </option>
    </select>
    <input type="hidden" name="token" value="{{ csrf_token('change-settings') }}"/>
    <button type="submit" name="buttonSettings" class="btn btn-primary mb-2 mr-sm-2">
            <i class="fas fa-caret-right"></i>
        </button>
    </form>
</div>

<div class="dashboard">
{# {{ dump(organisations) }} #}

    {% for orga in organisations %}
        <div class="organisation" style="border-color: {{ orga.color }}; background-color: {{ orga.color }}22">
            <a data-toggle="collapse" href="#collapse{{ orga.id }}" title="anzeigen oder verstecken">
                <h3 style="background-color: {{ orga.color }}">
                    {{ orga.name|e }} <i class="fa"></i>
                </h3>
            </a>
            <div id="collapse{{ orga.id }}" class="collapse show">

            {% for location in orga.locations %}
                <div class="location">
                    <h4>{{ location.name|e }}</h4>
                    {% set lastDeviceType = 0 %}
                    {% for position in location.positions %}
                        {% if deviceId == 0 or deviceId == position.deviceType.id %}
                            <div class="position {% if lastDeviceType != position.deviceType.id %} firstPosition {% set lastDeviceType = position.deviceType.id %} {% endif %}"
                                 style="border-color: {{ position.deviceType.color }}">
                                <div class="positionName" style="color: {{ position.deviceType.color }}">
                                    {{ position.name|e }}
                                </div>
                                {% if showForms %}
                                    <form class="" action="#" method="post">
                                            <input name="date" class="dateinput" type="date" value="{{ "now"|date("Y-m-d") }}"  required="required"/>
                                            <input name="deviceId" class="deviceId" required="required" />
                                            <input name="position_id" value="{{ position.id }}" type="hidden" />
                                            <input type="hidden" name="token" value="{{ csrf_token('add-stocking') }}"/>
                                    </form>
                                {% endif %}
                                <div class="stockings">
                                {% for stocking in position.stockings.slice(0, maxStockings) %}
                                    {% if maxStockings > 1 or not stocking.removed %}
                                        <p class="stocking {{ stocking.removed ? 'isRemoved' : '' }} ">
                                            {{ stocking.date|date("d.m.Y") }}
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            {{ stocking.deviceId|e }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
