{% extends 'base.html.twig' %}

{% block title %}Atemschutz Dashboard{% endblock %}

{% block body %}
<div class="dashboard">
    <h2>Dashboard</h2>
{# {{ dump(organisations) }} #}

{% for orga in organisations %}
    <div class="organisation" style="border-color: {{ orga.color }}; background-color: {{ orga.color }}22">
        <h3 style="background-color: {{ orga.color }}">{{ orga.name|e }}</h3>

        {% for location in orga.locations %}

            <div class="location">
                <h4>{{ location.name|e }}</h4>
                {% for position in location.positions %}
                    {% if deviceId == 0 or deviceId == position.deviceType.id %}
                        <div class="position" style="border-color: {{ position.deviceType.color }}">
                            <div class="positionName" style="color: {{ position.deviceType.color }}">
                                {{ position.name|e }}
                            </div>
                            {% if showForms %}
                                <form class="" action="#" method="post">
                                        <input name="date" class="dateinput" type="date" value="{{ "now"|date("Y-m-d") }}"  required="required"/>
                                        <input name="deviceId" class="deviceId" required="required" />
                                        <input name="position_id" value="{{ position.id }}" type="hidden" />
                                </form>
                            {% endif %}
                            <div class="stockings">
                            {% for stocking in position.stockings.slice(0, maxStockings) %}
                                {{ stocking.date|date("d.m.Y") }}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {{ stocking.deviceId|e }}
                                <br/>
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
